.online-box {
 height: 100%;
 width: 20%;
 background-color: #fff;
 display: flex;
 flex-direction: column;
}

.online-box h4 {
 text-align: center;
 color: white;

}
.survey-box {
 color: white;
}

@media screen and (max-width: 780px) {

 .online-box {
  width: 0;
 }

}