.update-profile-page {
  width: 100%;
  height: 100%;
  position: relative;
  display: flex;
  justify-content: center;
}

.update-form {
  box-shadow: 0 15px 35px 0 rgba(60, 6, 87, 0.08),
    0 5px 15px 0 rgba(0, 0, 0, 0.12);
  width: 50%;
  height: 50%;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
  padding: 50px;
  top: 20px;
}

input {
  border: none;
  border-bottom: 1px solid lightgray;
  height: 40px;
  width: 100%;
}

.box {
  display: none;
}

.update-form h1 {
  text-align: center;
  margin-bottom: 20px;
}

.update-form input {
  width: 100%;
  margin: 0 auto;
  margin-bottom: 12px;
}

.update-form button {
  padding: 10px 30px;
  width: 80%;
  font-size: 15px;
  margin-bottom: 6px;
  margin-top: 20px;
  background-color: #635bff;
  color: white;
  border: none;
  border-radius: 4px;
  position: relative;
  top: 20px;
}

.update-profile-btn {
  text-decoration: none;
}

.profile-pictures {
  width: 60%;
  height: 50%;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-evenly;
  background-color: #f8f8f8;
  border: 1px solid black;
  z-index: 9999;
  position: absolute;
}

.hide-box {
  display: none;
}

.profile-pictures img {
  max-width: 50px;
  cursor: pointer;
}

.profile-pictures img:hover {
  border: 4px solid dodgerblue;
  border-radius: 50%;
}

@media screen and (max-width: 780px) {
  .update-form {
    width: 80%;
    height: 500px;
    margin: 0 auto;
  }

  input {
    width: 80%;
    height: 40px;
    padding: 0 10px;
  }

  .update-form input {
    margin-bottom: 20px;
    width: 80%;
  }

  .profile-pictures {
    width: 30%;
  }
}
